/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
*/
body{
    text-align: center;
    background-color: black;
    font-family: 'Lora', serif;
}

.upArrowBox{
    transform: translate(-50%, -50%);
    position: fixed;
    width: 20vw;
    height: 15vh;
    left: 50vw;
    top: 7vh;
    border: 1px solid red;
}

.downArrowBox{
    transform: translate(-50%, -50%);
    position: fixed;
    width: 20vw;
    height: 15vh;
    left: 50vw;
    bottom: -7vh;
    border: 1px solid red;
}

#upArrow{
    position: fixed;
    color: white;
    top: -1vh;
}

#downArrow{
    position: fixed;
    color: white;
    bottom: -3vh;
}

.panel{
    font-size: 50px;
    width: 100vw;
    height: 100vh;
}

#title{
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    color: rgb(108, 20, 20);
}

#title > div{
    border: 1px solid red;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

