/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
*/
html{
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

body{
    text-align: center;
    background-color: black;
    height: 100%;
    margin: 0;
    color: white;
}

.cursor{
    height: 200px;
    width: 200px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.upArrowBox{
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 20vw;
    height: 15vh;
    left: 50vw;
    top: 7vh;
}

.downArrowBox{
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 20vw;
    height: 15vh;
    left: 50vw;
    bottom: -7vh;
}

#upArrow{
    top: -5vh;
}

#downArrow{
    bottom: -5vh;
}

.material-symbols-outlined{
    position: fixed;
    user-select: none;
    transform: scale(2);
    color: white;
    transition: 0.2s ease-in-out;
    background-color: red;
    border-radius: 50%;
}

.panel{
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    border-bottom: 6px dashed rgb(185, 138, 138);
}

#title{
    font-family: 'Lora', serif;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    color: rgb(108, 20, 20);
}

#title > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title > .quote{
    padding: 20px;
    color: black;
    transition: 0.2s ease-in-out
}

#title > .quote:hover{
    color: rgb(114, 85, 85);
}

.name{
    position: absolute;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    right: 0px;
    color: white;
}

.quote{
    font-size: 1.2vw;
}

.title-card{
    align-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 80px;
    color: rgb(150, 2, 2);
}

.title-card > p{
    padding: 10px;
    color: rgb(225, 110, 110);
    border: 2px dashed rgb(225, 110, 110);
    font-size: 25px;
}

#intro{
    margin-right: 50px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 2vh;
}

.intro-card{
    font-size: 4vh;
    padding: 20px;
    padding-left: 5vw;
    border-right: 2px solid white;
}

.intro-text{
    padding: 15vw;
    font-size: 2.5vh;
}
