/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
*/
html {
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    text-align: center;
    background-color: black;
    height: 100%;
    margin: 0;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(60, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(150, 2, 2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 0, 0);
}

.upArrowBox {
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 20vw;
    height: 15vh;
    left: 50vw;
    top: 7vh;
}

.downArrowBox {
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 20vw;
    height: 15vh;
    left: 50vw;
    bottom: -7vh;
}

#upArrow {
    top: -5vh;
}

#downArrow {
    bottom: -5vh;
}

#home {
    bottom: 4vh;
    right: 4vw;
    padding: 3px;
}

#menuIcon {
    padding: 3px;
    left: 4vw;
    top: 4vh;
    transition: 0.5s ease-in-out;
}

.menuBar {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    height: 100vh;
    width: 15%;
    left: -16%;
    background-color: rgb(46, 1, 1);
    border: 2px solid rgb(71, 24, 24);
    transition: 0.5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.7vw;
}

.menuBar>ul {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#navBar>li {
    transition: 0.1s ease-in-out;
    user-select: none;
}

#navBar>li:hover {
    color: rgb(117, 117, 117);
}

.material-symbols-outlined {
    position: fixed;
    user-select: none;
    transform: scale(2);
    color: white;
    transition: 0.2s ease-in-out;
    background-color: rgb(122, 0, 0);
    border-radius: 50%;
}

.material-symbols-outlined:hover {
    background-color: red;
}

.material-symbols-outlined:active {
    background-color: rgb(255, 85, 85);
}

.panel {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    border-bottom: 6px dashed rgb(185, 138, 138);
}

#title {
    background-image: radial-gradient(rgb(57, 0, 0), black);
    font-family: 'Lora', serif;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    color: rgb(108, 20, 20);
}

#title>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title>.quote {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20%;
    padding: 20px;
    color: rgba(128, 128, 128, 0.148);
    transition: 0.2s ease-in-out
}

#title>.quote:hover {
    background-color: rgb(98, 0, 0);
    color: rgb(255, 142, 142);
    border: 1px solid white;
}

.name {
    position: absolute;
    margin-right: 2vw;
    margin-top: 10px;
    font-size: 20px;
    right: 0px;
    color: white;
}

.quote {
    font-size: 1.2vw;
}

.title-card {
    align-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 80px;
    color: rgb(150, 2, 2);
}

.title-card>p {
    padding: 10px;
    color: rgb(225, 110, 110);
    border: 2px dashed rgb(225, 110, 110);
    font-size: 25px;
}

#intro,
#info,
#analysis,
#creative,
#close,
#works-cited {
    margin-right: 50px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 2vh;
}

.intro-card,
.info-card,
.analysis-card,
.creative-card,
.close-card,
.works-card {
    font-size: 4vh;
    padding: 20px;
    padding-left: 5vw;
    border-right: 2px solid white;
}

#intro {
    background-image: linear-gradient(rgb(40, 0, 0), black);
}

#info {
    background-image: linear-gradient(black, rgb(40, 0, 0));
    font-family: 'Oswald', sans-serif;
    height: 80vh;
    overflow: auto;
    overflow-x: hidden;
}

#analysis {
    background-image: linear-gradient(rgb(40, 0, 0), black);
}

#creative {
    background-image: linear-gradient(black, rgb(40, 0, 0));
}

#close {
    background-image: linear-gradient(rgb(40, 0, 0), black);
}

#works-cited {
    background-image: linear-gradient(black, rgb(40, 0, 0));
}

.intro-text {
    padding: 5vw;
    font-size: 2vh;
    column-count: 2;
    column-gap: 20px;
    column-rule-style: solid;
    column-rule-color:rgb(255, 192, 192);
    text-align: left;
}

.info-card {
    max-width: 30vw;
}

.info-text {
    height: 80vh;
    min-width: 70vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    gap: 20px;
}

.info-text>div {
    border: 1px solid white;
    padding: 5px;
    background-color: rgb(35, 35, 35);
    width: 30vw;
}

.info-text>img {
    width: 30vw;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(227, 227, 227, 0.2), 0 6px 20px 0 rgba(213, 163, 163, 0.19);
}

#thesis {
    font-size: 30px;
    background-color: rgb(205, 0, 0);
    width: 70vw;
}

#context {
    background-color: rgb(52, 12, 12);
    font-size: 30px;
    width: 70vw;
}

#ohio {
    background-color: rgb(52, 12, 12);
    font-size: 30px;
    width: 70vw;
}

.analysis-text>p {
    background-color: rgba(42, 42, 42, 0.501);
    border-radius: 10%;
    padding: 5vw;
    font-family: 'Lora', serif;
    font-size: 1.3vw;
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
    text-align: left;
}

.analysis-card>div {
    user-select: none;
    text-decoration: underline;
    color: rgb(255, 154, 154);
}

.analysis-card>div:hover {
    color: rgb(250, 55, 55);
}

.creative-card {
    font-family: 'Montserrat', sans-serif;
}

.creative-text>pre {
    font-family: 'Montserrat', sans-serif;
    max-height: 90vh;
    width: 60vw;
    overflow: auto;
    overflow-x: hidden;
    text-align: left;
}

.works-card {
    border: none;
}

.works-card>a {
    color: white;
}

.works-card>a:hover {
    color: rgb(255, 150, 150);
}